@font-face {
  src: url(../fonts/retroFont.ttf); /* ctrl + space*/
  font-family: retroFont;
}

body {
  margin-top: 20px;
  text-align: center;
  color: green;
  background-color: black;
  margin: 2% 10% 0 10%;
  padding: 0;
  font-family: retroFont;
}

.container {
  border: 5px solid blue;
  width: 99%;
  margin: auto;
  padding: 5px 0 5px 0;
}

.container .container {
  padding: 5%;
  border: 3px solid blue;
}

p {
  font-size: 20px;
  color: white;
}

.header {
  border-bottom: 2px solid white;
  margin: 2% 0 2% 0;
}

span {
  margin: 0;
  padding: 0;
}

.fancyText {
  font-style: italic;
  font-family: retroFont;
}

form {
  margin-top: 5%;
}

#aNameInput {
  background-color: black;
  color: white;
  border-color: green;
}
<<<<<<< HEAD

#aClass {
  background-color: black;
  color: white;
  border-color: green;
}

=======


#aClass {
  background-color: black;
  color: white;
  border-color: green;
}

>>>>>>> gh-pages
#submit {
  color: green;
  background-color: black;
  border: 2px solid green;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 0 0 0;
}

.userAdventurer {
  display: none;
}

.userAdventurer h2 {
  margin-bottom: 5%;
  text-decoration: underline;
}

.userAdventurer p {
  margin-bottom: 5%;
  color: white;
}

#start {
  color: green;
  background-color: black;
  border: 2px solid green;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 5% 2% 0;
}

#restart {
  color: red;
  background-color: black;
  border: 2px solid red;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 5% 2% 0;
<<<<<<< HEAD
=======
}

#copyright {
  margin: 0;
  padding: 0;
  margin-top: 10%;

>>>>>>> gh-pages
}