/*
@font-face {
  font-family: retroFont;
  src: url(fonts/retroFont.ttf);
}
*/
body {
  margin-top: 20px;
  word-wrap: none;
  text-align: center;
  color: green;
  background-color: black;
  border: 5px solid blue;
  margin: 2% 10% 0 10%;
  padding: 0;
}

p {
  font-size: 20px;
}

.header {
  border-bottom: 2px solid white;
  margin: 2% 0 2% 0;
}

span {
  margin: 0;
  padding: 0;
}

.fancyText {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

form {
  margin-top: 5%;
}

#submit {

  color: green;
  background-color: black;
  border: 2px solid green;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 0 8% 0;
}

.userAdventurer {
  display: none;
}

.userAdventurer h2 {
  margin-bottom: 5%;
  text-decoration: underline;
}

.userAdventurer p {
  margin-bottom: 5%;
}

#start {
  color: green;
  background-color: black;
  border: 2px solid green;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 5% 8% 5%;
}

#restart {
  color: red;
  background-color: black;
  border: 2px solid red;
  font-size: 24px;
  padding: 0 15px 0 15px;
  margin: 2% 5% 8% 5%;
}