body {
  margin-top: 20px;
  word-wrap: none;
  text-align: center;
  color: white;
  background-color: black;
  border: 5px solid blue;
  margin: 2% 10% 0 10%;
}

.header {
  border: 5px dashed red;
  border-bottom: 5px solid white;
  margin: 2% 0 2% 0;
}

.fancyText {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}